{
  "plugins": [
    "lodash",
    "styled-components",
    "react-hot-loader/babel",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    [
      "module-resolver",
      {
        "cwd": "packagejson",
        "alias": {
          "components": "./client/workflow/components",
          "hooks": "./client/workflow/hooks",
          "services": "./client/workflow/services",
          "stores": "./client/workflow/stores",
          "config": "./client/config",
          "css": "./client/config/css",
          "icons": "./client/icons",
          "utils": "./client/workflow/utils",
        },
      },
    ],
  ],
  "presets": [
    "@babel/env",
    "@babel/react",
  ],
}
