.mercury__task__header {
	background: yellow;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-height: 50px;
	padding: 10px;
	position: relative;
	top: 0;
}

.mercury__task__header section {
	display: flex;
	flex-direction: column;
}

.mercury__task__header__right {
	text-align: right;
}

.mercury__task__header__name {
	font-size: 1.4rem;
	font-weight: 700;
}
