.mercury__settings__footer {
	position: relative;
	bottom: 0;
	height: 50px;
	background: yellow;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

.mercury__settings__footer__assigned{
	display: flex;
}

.mercury__settings__footer__complete{
	display: flex;
}
