.mercury__wrapper {
  display: flex;

  * {
    box-sizing: border-box;
  }
}

.mercury__tasks-panel {
  background: #999;
  padding: 10px;
  width: 20%;
}

.mercury__task__wrapper {
  background: #AAA;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.mercury__task__form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.mercury__task__fields {
  flex-grow: 1;
}
